body {
    color: #333333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:url(/img/degrade.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
   
}

h1 {
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

h2 {
    border-bottom: 2px solid #333333e5;
    margin-top: 30px;
    text-align: center;
}



figure {
    background-color: #a0a0a0bb;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    margin: 30px;
}

figcaption {
    font-style: italic;
    margin-top: 10px;
}

p {
    padding: 0 45px;
    text-indent: 15px;
}

#logotipo{
    text-align: center;
    padding-bottom: 20px;
}


#centro-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#rodape {
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}

#rodape img {
    
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}

.menu-opcoes ul {
    font-size: 15px;
    padding-left: 10px;
    padding-bottom: 4px;
}

.menu-opcoes a {
    color: #000000;
    text-decoration: none;
}

.menu-opcoes ul li {
    margin-left: 20px;
    display: inline;
}

.menu-opcoes {
    background-color: #ccc;
    text-align: left;
    padding: 2px;
    border-style: ridge;
    border-radius: 10px;
}